// Color Variables
$primary-color: #0066cc;
$text-color: #cccccc;
$text-color-dark: #666666;
$body-color: #222222;
$border-color: #0066cc;
$black: #000;
$white: #fff;
$light: #999999;

$primary-gradient: linear-gradient( 27deg, #0066cc 0%, #666666 100%);

// Font Variables
$primary-font: 'Quicksand', sans-serif;
$icon-font: 'themify';